body {
  text-align: center;
  font-family: "Montserrat";
  background-color: #000b40;
}
.header {
  width: 70%;
  margin-left: 15%;
  color: #ffffff;
  height: 30vh;
}
.logo {
  width: 50%;
  filter: invert(100%);
}
.menu {
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-evenly;
}
.menu h1:hover {
  text-decoration: underline;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 65vh;
}
.left {
  width: 45%;
  background-color: #ffffff;
  font-size: 1.2vw;
}
.right {
  width: 45%;
  background-color: #ffffff;
  padding: 1em;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#map {
  height: 55vh;
  width: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.i {
  font-size: 1vw;
  color: #4a4a4a;
  font-family: "Montserrat";
  margin-top: 0.4vw;
}
iframe {
  width: 100%;
  height: 50vh;
}
.submit_btn {
  background-color: #4d66df;
  border: none;
  padding: 0.5em;
  font-size: 1.3vw;
  color: #ffffff;
}
.sub_schedules {
  width: 42.5%;
  text-align: left;
  color: #ffffff;
  padding-left: 5%;
  padding-right: 2.5%;
  float: left;
}
.display_preferences {
  width: 42.5%;
  text-align: left;
  color: #ffffff;
  padding-left: 2.5%;
  padding-right: 5%;
  float: left;
}
.p_left {
  width: 50%;
  float: left;
}
.p_right {
  width: 50%;
  float: right;
}
.p_left span,
.p_right span {
  font-weight: bold;
}

table {
  color: white;
  border: 1px solid white;
  padding: 10px;
}
th,
td {
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-collapse: collapse;
}
td {
  background-color: #ffe56f;
}
.about_content {
  background-color: #ffffff;
  height: 58vh;
  overflow-y: scroll;
  width: 50%;
  margin-left: 24%;
  padding: 1em;
  text-align: left;
  -ms-overflow-style: none;
}
.about_content::-webkit-scrollbar {
  display: none;
}
.connect_content {
  background-color: #ffffff;
  max-height: 58vh;
  width: 50%;
  margin-left: 24%;
  padding: 1em;
  text-align: left;
}
.photos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.p,
.pp {
  width: 20%;
  text-align: center;
}
.p:hover {
  cursor: pointer;
}
.p img,
.pp img {
  width: 100%;
}
.p h3,
.pp h3 {
  margin-top: 0.5vh;
}
.mlh:hover {
  cursor: pointer;
  font-weight: bold;
}
.mob_view {
  display: none;
}
.see_more {
  background-color: #4d66df;
  border: none;
  padding: 0.5em;
  font-size: 1.3vw;
  color: #ffffff;
  margin-bottom: 1em;
}

#rec_display {
  display: none;
}

    .content_s {
      background-color: #ffffff;
      width: 80%;
      position: relative;
      float: none;
      display: inline-block;
      margin-top: 2em;
      line-height: 1.2em;
    }
    #chart_div,
    #chart_div2,
    #chart_div3 {
      width: 90%;
      margin-left: 5%;
    }

/* MOBILE */
@media screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
  .header {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .logo {
    width: 70vw;
  }
  .menu {
    width: 100vw;
    margin-left: 0;
    font-size: 2vw;
  }
  .menu h1 {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .about_content {
    margin: 0;
    width: 80%;
    margin-left: 7%;
    height: auto;
    overflow: hidden;
    margin-bottom: 2em;
  }
  .connect_content {
    margin: 0;
    width: 80%;
    margin-left: 7%;
    height: auto;
  }
  .photos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .chris {
    display: none;
  }
  .p h3,
  .pp h3 {
    font-size: 1.2em;
  }
  .info {
    display: block;
  }
  .left {
    width: 80%;
    margin: 0;
    margin-left: 10%;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  .right {
    width: 80%;
    margin: 0;
    margin-left: 10%;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
  #map {
    width: 100%;
    height: 30vh;
  }
  .i {
    font-size: 3em;
    margin-bottom: 1em;
  }
  .left label,
  .right label {
    font-size: 4em;
  }
  .submit_btn {
    margin-top: 1em;
    font-size: 6vw;
  }
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"] {
    background-color: #c1d6df;
    border: none;
  }
  .mob_view {
    display: inline;
  }
  .chbx {
    line-height: 0em;
  }
}
